/* HTMLのコメントとCSSのコメントはそれぞれ記号が異なる */
/* ノーマライズCSSを書き忘れてしまったりなどの事故が起こる可能性を防ぐために書く。 */
/* @importという書き方で、「CSSのファイルの中から別のCSSを参照する」というやり方ができる。 */
/* style.css自身から見た時のnormalize.cssの場所は、自分と同じ場所になるので、フォルダ名は不要になる。 */
@import url('normalize2.css');

body {
  background-color: #eee; /*カラーコードは3桁〜8桁*/
}
h1 {
  text-align: center;
  font-size: 1.5em;
}
/* 内部参照を書くと、1箇所を変更するだけでその文章の中の全部のスタイルが調整される。 */
p {
  color: dimgray;
}

header {
  background-color: #fff; /*whiteはカラーネーム*/
}

header, main, footer {
  padding: 20px 30px;
}

.card { /* タグ名は省略できる */
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px; /* ショートハンドプロパティではなく、個別のプロパティ */
  border-radius: 10px;
}

.center {
  text-align: center;
}

.text-small {
  font-size: .8em;
}

.card h3 { /* 子孫セレクタ */ /* CSSは詳細度が高いほど優先度が上がる */
  font-size: 1.2em;
}

h3 {
  font-size: 5em;
}