/* CSSをリセットする */
@import url('normalize.css'); /*normalize.cssに関してはHTMLから読むのではなく、CSSから参照してあげれば直接読み込めるようになる。*/
/*「@import」という書き方は、CSSのファイルの中から別のCSSファイルを参照するというやり方ができる。*/

h1 {
    text-align: center;
    font-size: 1.5em;
}
p {
    color: dimgray;
}
body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}
header {
    background-color: white; /* whiteなどは「カラーネーム」と呼ばれる。whiteは、カラーコードの「#fff」に書き換えることができる。*/
    padding: 100px 300px; /*paddingは「内側の余白」を意味する。*/ /*marginは「外側の余白」を意味する。*/
}
header,
main,
footer {
  padding: 20px 30px;
}