@import url('normalize.css');

:root { /*「:root」はウィンドウ全体のこと。*/
  background-color: #f5f5f5;
}

body {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #2c3e50;
  font-size: 1.8rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

input[type="text"],
input[type="email"],
select {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: .5rem;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem; /*フォントサイズの大きさが本文と同じになる。*/
  width: 100%;
  transition: background-color .3s;
}

button:hover {
  background-color: #2980b9;
}

.required {
  background-color: #f99;
  padding: 2px 4px;
  font-size: .8em;
  border-radius: 2px;
  margin-left: 4px;
  color: #fff;
}

.radio-group,
.checkbox-group {
  display: flex;
  gap: 1.5rem;
  margin-top: .5rem;
}

.radio-group label,
.checkbox-group label{
  display: flex;
  align-items: center;
  font-weight: normal; /*ラジオボタンのラベルは太文字にする必要がない。*/
  margin: 0;
  gap: .5rem; /*ここでのgapは、ラジオボタンとラベルの隙間になる。*/
}

@media (max-width: 680px) {
  .radio-group,
  .checkbox-group {
    flex-direction: column;
    gap: .5rem;
  }
}